.base {
  height: 73px;
  background: #464a4c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 35px;
}

.search {
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 3px solid #626262;
}

.search:focus {
  border: 3px solid rgb(48, 48, 48);
}
